.con_part1 {
	width: 100%;
	height: 434px;
	font-size: 28px;
	color: white;
	background-image: url("../img/aboutus_bg.png");
	background-size: 100% 434px;
	overflow: hidden;
}

.con_p1_box {
	width: 1140px;
	margin: 150px auto 0;
}

.dot {
	font-size: 40px;
	vertical-align: middle;
	display: inline-block;
	margin: -7px 10px 0;
}

.con_part2 {
	width: 100%;
	font-size: 16px;
	color: #676767;
	background-color: #f8f8f8;
	padding-top: 65px;
}

.title {
	width: 80px;
	font-size: 20px;
	padding: 10px 0;
	margin: 0 auto 35px;
	border-bottom: 4px solid #1fb375;
	border-radius: 1px;
}

.con_p2_box {
	margin-bottom: 40px;
	line-height: 25px;
}

.con_part3 {
	width: 100%;
	font-size: 0;
	color: #676767;
	margin: 0 auto 100px;
}

.title {
	font-size: 16px;
}

.map1_box {
	width: 400px;
	height: 290px;
	overflow: hidden;
	display: inline-block;
}

.address_box {
	width: 700px;
	font-size: 16px;
	line-height: 50px;
	vertical-align: top;
	margin-top: 90px;
	display: inline-block;
	margin-left: 40px;
}

.company_name {
	font-size: 20px;
}

.company_infor {
	display: inline-block;
}