.con_part1 {
	width: 100%;
	height: 434px;
	font-size: 28px;
	font-weight: bold;
	color: white;
	background-image: url("../img/home_bg.png");
	background-size: 100%;
	overflow: hidden;
}

.left_right_box {
	width: 1200px;
	margin: 0 auto;
}

.con_left {
	float: left;
	margin-top: 90px;
}

.con_right {
	float: right;
	margin-top: 40px;
	margin-right: 50px;
}

.qrcode_box {
	display: inline-block;
}

.qr_text {
	width: 106px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
	font-weight: 100;
	border: 1px solid white;
	border-radius: 17px;
	margin: 9px 8px;
}

.qrcode_img_box {
	width: 122px;
	height: 122px;
}

.qrcode_img {
	width: 122px;
	height: 122px;
}

.con_part2 {
	width: 1200px;
	height: 300px;
	margin-top: 102px;
}

.logo_box {
	width: 400px;
	color: #515151;
	text-align: center;
	float: left;
}

.logo_img_box {
	width: 122px;
	height: 122px;
	background-color: #cccccc;
	border-radius: 50%;
	margin: 50px auto;
	cursor: pointer;
}

.logo_img_box:hover {
	background-color: #1fb375;
}

.logo_img {
	margin-top: 30px;
}

.logo_title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 35px;
}

.logo_intro {
	font-size: 18px;
	margin-top: 20px;
}

.con_part3 {
	width: 685px;
	margin: 130px auto 50px;
}