/*select*/
.con_part2 {
	width: 100%;
	font-size: 18px;
}

.select_top {
	margin-bottom: 12px;
	margin-top: 40px;
}

.select_container {
	height: 130px;
	background-color: #f8f8f8;
}

.select_box {
	display: inline-block;
	margin-left: 40px;
}

select {
	width: 190px;
	height: 32px;
	cursor: pointer;
	border: 1px solid #d0d0d0;
	margin: 12px 10px;
	text-indent: 10px;
}

input {
	width: 190px;
	height: 32px;
	cursor: pointer;
	border: 1px solid #d0d0d0;
	margin: 12px 10px;
	text-indent: 10px;
}

.order {
	width: 66px;
	height: 78px;
	font-size: 20px;
	color: white;
	padding: 9px 22px;
	box-sizing: border-box;
	background-color: #1fb375;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	margin-top: -39px;
	cursor: pointer;
	float: right;
	margin-right: 35px;
}

.order:hover {
	background-color: #36a777;
}
/*司机列表*/
.driver_list_box {
	margin-top: 50px;
}

.dirver_top {
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 2px solid #1fb375;
}

.logo_f1 {
	vertical-align: middle;
	margin-right: 10px;
}

.dtop_right {
	float: right;
	font-size: 16px;
	color: #9f9f9f;
	cursor: pointer;
}

.dtop_right:hover {
	color: #1fb375;
}

.driver_list {
	font-size: 20px;
	color: #515151;
	padding: 18px 39px 18px 30px;
	background-color: #fdfdfd;
}

.avatar {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	vertical-align: middle;
}

.dri_name {
	display: inline-block;
	width: 120px;
}

.driver_name {
	margin-left: 10px;
}

.star_box {
	display: inline-block;
	margin: auto;
	width: 100px;
	text-align: center;
}

.car_infor {
	display: inline-block;
	margin-left: 10px;
	width: 290px;
}

.car_infor div {
	margin: 0 1px;
	width: 65px;
	display: inline-block;
}

.logo_f2 {
	vertical-align: middle;
	margin-left: 10px;
}

.dri_address {
	width: 210px;
	margin-left: 10px;
	display: inline-block;
	position: relative;
}

.dri_add1 {
	position: absolute;
	top: -47px;
	left: 0;
}

.dri_add2 {
	position: absolute;
	top: 9px;
	left: 0;
}

.dri_address small {
	font-size: 16px;
	color: #c0c0c0;
}

.dri_btn {
	width: 76px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: white;
	border-radius: 5px;
	float: right;
	margin-top: 28px;
}

.leisure {
	background-color: #43baf8;
}

.transit_in {
	background-color: #f4564b;
}

.car_num {
	display: inline-block;
	width: 95px;
	margin-left: 5px;
}