.con_part1{
    width: 100%;
    font-size: 18px;
}
.part1_top{
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    padding-left: 20px;
    margin-top: 20px;
    border: 1px solid #eeeeee;
}

.left{
    width: 860px;
    display: inline-block;
    margin-top: 18px;
}
.dirver_infor{
    width: 100%;
    height: 202px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}
.avatar{
    width: 120px;
    height: 120px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 50%;
}
.person_box{
    display: inline-block;
    vertical-align: top;
    margin-top: 55px;
    margin-left: 39px;
}
.driver_name{
    font-size: 26px;
    color: #515151;
}
.driver_character{
    margin-top: 20px;
}
.driver_character span{
    font-size: 16px;
    color: #1fb375;
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid #1fb375;
    border-radius: 9px;
    margin-right: 10px;
}
.driver_level{
    float: right;
    margin-top: 43px;
    margin-right: 59px;
    text-align: center;
}
.score{
    font-size: 26px;
    color: #515151;
}
.star_box{
    margin: 5px 0;
}
.infor_list_top{
    font-size: 0;
    border: 1px solid #eeeeee;
    border-top: 2px solid #383e44;
}
.item_sort{
    width: 123px;
    height: 57px;
    text-align: center;
    line-height: 57px;
    font-size: 18px;
    display: inline-block;
    border-right: 1px solid #eeeeee;
    cursor: pointer;
}
.checked{
    background-color: #383e44;
    color: white;
}
/*车辆*/
#car_list_box{
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    margin-bottom: 167px;
}
table th{
    padding: 18px 0;
    border-bottom: 1px solid #eeeeee;
    background: #f8f8f8;
}
table td{
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.car_sort{
    color: #4ba8e9;
}
/*评价*/
#comment_list_box{
    width: 100%;
    margin-bottom: 141px;
    display: none;
}
.comment_list{
    width: 100%;
    height: 105px;
    border: 1px solid #eeeeee;
    border-top: 0;
    box-sizing: border-box;
}
.row1{
    font-size: 14px;
    color: #989898;
    margin-left: 42px;
    padding-top: 25px;
}
.com_star_box{
    display: inline-block;
    margin-left: 26px;
}
.date_time{
    float: right;
    margin-right: 70px;
}
.row2{
    font-size: 16px;
    color: #515151;
    margin-left: 40px;
    margin-top: 17px;
}


.right{
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    margin-left: 24px;
}
.map_box{
    width: 245px;
    height: 250px;
    border: 1px solid #eeeeee;
    border-bottom: none;
    overflow: hidden;
}
.map_infor{
    width: 245px;
    height: 100px;
    border: 1px solid #eeeeee;
}
.map_address{
    font-size: 16px;
    margin-left: 14px;
    margin-top: 25px;
    width: 160px;
}
.map_time{
    font-size: 14px;
    color: #b0b0b0;
    margin-left: 14px;
    margin-top: 5px;
    width: 160px;
}
.refresh{
    float: right;
    margin-top: -43px;
    margin-right: 22px;
    cursor: pointer;
}
.car_btn{
    width: 247px;
    height: 62px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 62px;
    margin-top: 31px;
    background: #1fb375;
    cursor: pointer;
}
.car_btn:hover{
    background-color: #36a777;
}
.logo_car{
    vertical-align: middle;
    margin-right: 7px;
}

/*弹出层*/
.sort_pop{
    width: 320px;
    height: 246px;
    text-align: center;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    border-radius: 5px;
    display: none;
}
.order_sort_option{
    font-size: 20px;
    margin-top: 32px;
}
.order{
    width: 158px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    border: 1px solid #d9d9d9;
    border-radius: 23px;
    margin: 24px auto 0;
    cursor: pointer;
}
.o_checked{
    color: #1fb375;
    border: 1px solid #1fb375;
}
