.close_order, .atonce_complain {
	width: 82px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #909090;
	border-radius: 3px;
	margin: 0 auto;
	cursor: pointer;
}

.close_order:hover, .atonce_complain:hover {
	color: #1fb375;
	border-color: #1fb375;
	background-color: #e8f6f0;
}
/*投诉*/
.complain_pop, .close_order_pop {
	width: 466px;
	height: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	display: none;
	background-color: white;
	border-radius: 10px;
	font-size: 14px;
}

.complain_title {
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin: 30px 0;
}

.comment_list {
	width: 118px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	border-radius: 19px;
	margin: 0 5px 15px;
	cursor: pointer;
}

.o_checked {
	color: #1fb375;
	border: 1px solid #1fb375;
}

.other_reason {
	width: 100%;
	font-size: 18px;
	margin-top: 17px;
	text-align: center;
}

.describe {
	width: 386px;
	height: 118px;
	font-size: 14px;
	color: #c3c3c3;
	border: 1px solid #d9d9d9;
	margin: 20px auto;
	display: block;
	background-color: #fcfcfc;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 5px;
}

.btn_box1 {
	width: 300px;
	margin: 0 auto 20px;
}

.ensure_btn, .cancel_btn {
	width: 84px;
	height: 34px;
	font-size: 16px;
	color: white;
	text-align: center;
	line-height: 34px;
	border-radius: 3px;
	background-color: #1fb375;
	cursor: pointer;
	display: inline-block;
	margin: 0 30px;
}

.ensure_btn:hover {
	background-color: #36a777;
}

.cancel_btn {
	background-color: #c3c3c3;
}

.cancel_btn:hover {
	background-color: #bdbdbd;
}

.time_picker {
	padding: 0px;
	height: 30px;
}

.picker_div {
	display: flex;
	margin-top: -56px;
	margin-left: 95px;
}

.date {
	width: 206px;
	margin: 0 10px;
}

.searchKey {
	width: 260px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 20px;
}